.heading {
    transition: all 300ms ease-in-out;
}

.heading:hover {
    background-color: red;
}

a {
    color: darkorange;
}

a:link {
    color: deeppink;
}

a:visited {
    color: firebrick;
}

a:hover {
    background-color: darkslateblue;
    color: white;
    text-decoration: none;
}

a:active {
    background-color: darkolivegreen;
    color: white;
    text-decoration: none;
}

input:not(:checked)+ p {
    background-color: yellow;
}

.pai .lista li:last-child {
    background-color: blue;
}

input:required {
    background-color: red ;
}