* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    background-color: yellow;
    height: 640px;
    width: 960px;
}

.flex-item {
    width: 320px;
    color: white;
    width: 100%;
    background-color: red;
    margin: 10px;
}

